@page {
    size: A4;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    margin-top: 50px;
    padding: 0;
    background-color: #2e384a;
    display: flex;
    justify-content: center;
}

.triangle {
    position: relative;
    top: -10px;
    left: -10px;
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    border-top: 60px solid rgb(34, 39, 59);
}

.profile-image-container {
    position: relative;
    left: 40px;
    top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.bullets {
    float: right;
    margin-right: 70px;
}

.cv-wrapper {
    height: 297mm;
    width: 210mm;
    flex-grow: 0;
    flex-shrink: 1;
}


/* printable version */

/* body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    padding: 0;
    display: flex;
    justify-content: center;
}

.triangle {
    position: relative;
    top: -10px;
    left: -10px;
    border-left: 142px solid transparent;
    border-right: 142px solid transparent;
    border-top: 80px solid rgb(34, 39, 59);
}

.profile-image-container {
    position: relative;
    left: 60px;
    top: -10px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
}

.bullets {
    float: right;
    margin-right: 80px;
}

.cv-wrapper { 
    flex-grow: 0;
    flex-shrink: 1;
} */


.top-bar {
    background: rgb(34, 39, 59);
    text-align: center;
    color: #fff;
    padding: 20px 0;
    position: relative;
    height: 150px;
}

.container {
    display: flex;
}

.left-bar {
    width: 30%;
    background-color: #eac997;
    padding: 10px;
    box-sizing: border-box;
}

.right-content {
    font-size: 14pt;
    width: 75%;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    position: relative;
    margin-top: -100px;
    left: 50px;
}

h2 {
    margin-top: 20px;
}

.right-content h2 {
    background-color: #182f51;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul.disc {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

.profile-image {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    height: 100%;
    width: auto;
    object-fit: cover;
}

.titles {
    color: white;
    font-size: 16px;
    font-weight: bold;
    background: #182f51;
    padding: 10px;
    margin-bottom: 5px;
}

.projectLink {
    color: white;
    font-size: 30px;
    font-weight: bold;
    background: #182f51;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #1565c0;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    transition: background-color 0.3s ease;
}

.projectLink:hover {
    background: #1565c0;
}

.button-container {
    text-align: center;
}

@media screen and (min-width: 1300px) {
    .side-content {
        margin: 0 200px;
    }

    .cv-wrapper {
        min-width: 800px;
    }
}


@media screen and (max-width: 1300px) {
    body {
        display: block;
    }
}